[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
EnvironmentFile=-/etc/etcd/conf/etcd.conf
#EnvironmentFile=-/etc/etcd/conf/etcd-commom.conf
#ExecStart=/usr/bin/etcd $ETCD_ARGS
ExecStart=/usr/bin/etcd --config-file=/etc/etcd/conf/etcd.config.yaml
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
