[Unit]
Description=Kubernetes API Service
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
After=etcd.service

[Service]
EnvironmentFile=-/etc/kubernetes/conf/kube-apiserver.conf
ExecStart=/usr/bin/kube-apiserver $KUBE_LOGTOSTDERR $KUBE_LOG_LEVEL $KUBE_LOG_DIR $KUBE_ETCD_SERVERS $KUBE_API_ADDRESS $KUBE_API_PORT  $KUBE_SERVICE_ADDRESSES $ENABLE_KUBE_ADMISSION_PLUGINS $KUBE_API_ARGS
Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target